<div class="container">
    <h1>Dropbox</h1>
    <ul>
        <li>competitors: Google Drive, Skydrive, Box</li>
        <li>acquisitions count: 22</li>
        <li>headquarters: San Francisco, CA</li>
        <li>description: Provide a home for everyone's most important information and bring it to life</li>
        <li>categories: cloud</li>
        <li>website URL: <a href="http://dropbox.com">http://dropbox.com</a></li>
        <li>date founded: June 1, 2007</li>
        <li>contact info:</li>
        <li>employees count: 1000 - 5000</li>
        <li>total funding: 1.11 B</li>
        <li>investors count: 28</li>
    </ul>
</div>
