<div class="container">
    <h1>Greylock Partners</h1>
    <ul>
        <li>money invested: 2.5B</li>
        <li>investment count: 404</li>
        <li>headquarters: Menlo Park, CA</li>
        <li>funds raised: 2.5B</li>
        <li>description: entrepreneurs who are building disruptive, market-transforming consumer and enterprise software companies</li>
        <li>website URL: <a href="http://www.greylock.com">http://www.greylock.com</a></li>
        <li>founded date: October 1965</li>
        <li>type: Venture Capital</li>
        <li>sectors: Consumer and Enterprise Software</li>
    </ul>
</div>
