body {
    min-height: 500px;
    padding-top: 50px;
}

iframe{
    width: 100%;
    height: 400px;
}
iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

.h9 {
    color: #ffffff;
    font-size:5.2em;
    text-align: center;
    text-transform: uppercase;
}

.h8 {
    color: #ffffff;
    font-size:2em;
    text-align: center;
    text-transform: uppercase;
}

#headerwrap {
    width: 100%;
    height: 70%;
}

#container { 
  width: 780px; 
  background: #FFFFFF;
  margin: 0 auto; 
  border: 1px solid #000000;
  text-align: left; 
}

.tableWrapper {
    margin-top: 25px;
}

.table {
    table-layout: fixed;
    width: 85%;
    margin-left:auto; 
    margin-right:auto;
}

.aspectRatio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    text-align: center;
}

.aspectRatio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 15px;
}

.centerText {
    text-align: center;
}

.table-hover > tbody > tr:hover {
    background-color: rgb(51, 54, 69);
}

table tbody tr:nth-child(2n + 1){
    background-color: transparent;
}

#footer {
    margin-top: 0;
    padding-top: 0;
}