body {
    min-height: 2000px;
    padding-top: 50px;
}

#headerwrap {
    background: url(../images/splash.png) no-repeat center top;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.tableWrapper {
    margin-top: 25px;
}

.table {
    table-layout: fixed;
}
