body {
    min-height: 500px;
    padding-top: 50px;
    background-image: url(../images/concrete-seamless.png);
    background-color: #333333;

}

#headerwrap {
    background: url(../images/concrete-splash.png) no-repeat center top;
    width: 90%;
    margin-left: 5%;
}

.tableWrapper {
    margin-top: 25px;
    background-color: #696969;

}

.table {
    table-layout: fixed;
    background-color: #696969;

}

