body {
    min-height: 2000px;
    padding-top: 50px;
}

#headerwrap {
    background: url(../images/splash.png) no-repeat center top;
}

.tableWrapper {
    margin-top: 25px;
}

.table {
    table-layout: fixed;
}

