<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-repeat="a in atts">
                    <div class="thText" ng-click="$parent.changeOrderTo(a.id)">{{a.name}}</div>
                    <span ng-if="order === a.id && !orderReverse" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    <span ng-if="order === a.id && orderReverse" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="goToItem({id: i[itemId]})" dir-paginate="i in data | objectToArray | orderBy:order:orderReverse | itemsPerPage:20">
                <td ng-repeat="a in atts">{{::i[a.id]}}</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls template-url="/static/directiveTemplates/paginatorTemplate.html"></dir-pagination-controls>
</div>
