<div class="container">
    <br>
    <h1>We are DreamForce</h1>

    <div class="row">
        <div class="col-md-6" ng-repeat="member in about.teamMembers">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-circle" src="/static/images/members/{{member.id}}.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="centerText">
                            <h3>{{member.name}}</h3>
                            <h6><medium>{{member.bio}}</medium></h6>
                        </div>
                        <ul>
                            <li>Responsibilities: {{member.responsibility}}</li>
                            <li>Number of Commits: {{member.commits}}</li>
                            <li>Issues Closed: {{member.issues}}</li>
                            <li>Number of Unit Tests: {{member.unitTests}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>

    <div class="row">
        <div class="col-md-3 col-md-offset-2 col-sm-4">
            <h2>Team Stats</h2>
            <ul>
                <li>Total Commits: 150</li>
                <li>Total GitHub Issues: 41</li>
                <li>Total Unit Tests: 9</li>
                <li><a href="http://docs.leagueidb.apiary.io/#" target=”_blank”>Apiary API</a></li>
                <li><a href="https://github.com/Sweetman/cs373-idb/issues" target=”_blank”>GitHub Issue Tracker</a></li>
                <li><a href="https://github.com/Sweetman/cs373-idb" target=”_blank”>GitHub Repo</a></li>
                <li><a href="https://github.com/Sweetman/cs373-idb/wiki" target=”_blank”>GitHub Wiki</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-4">
            <h2>Data</h2>
            <ul>
                <li>Data Sources: <a href="https://developer.riotgames.com/">RIOT API</a></li>
                <li>Data Scraping: <a href="https://github.com/Sweetman/cs373-idb/wiki/Data-Scraping">GitHub Wiki / Data Scraping</a></li></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-4">
            <h2>Unit Tests</h2>
            <ul>
                <li><a href="/tests/runTests">Run Unit Tests</a></li>
            </ul>
        </div>
    </div>
</div>