
<section id="four" class="wrapper alt style5">
    <div class="inner">
        <b class="h9">{{champion.data.name}}</b>
        <section class="features">

            <article class="col-lg-3">
                <h3 class="major"><span class="icon fa-trophy"> Champion Stats</h3>
                    <p><img class="cardThumbnail" 
                    src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/{{champion.data.key}}.png"></p>
                    <p>
                        <li><b>ID:  </b> {{champion.id}}</li>
                        <li><b>ATTACK:  </b> {{champion.data.attack}}</li>
                        <li><b>DEFENSE:  </b> {{champion.data.defense}}</li>
                        <li><b>DIFFICULTY:  </b> {{champion.data.difficulty}}</li>
                        <li><b>MAGIC:  </b> {{champion.data.magic}}</li>
                        <li><b>PAR TYPE:  </b> {{champion.data.partype}}</li>
                    </p>
            </article>

            <article class="col-lg-3">
                <h3 class="major"><span class="icon fa-hourglass"> Lore</h3>
                    <p></p> {{champion.data.lore}}</li>

             </article>


            <div class="col-lg-12">
                <h3 class="major"></h3>
            </div>

        </section>

        <ul class="actions">
            <li><a href="/champions" class="special" class="button">more champions</a></li>
        </ul>


        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <div class="card descriptionCard">
                    <div class="aspectRatio">
                        <iframe src="{{champion.data.youtube | trusted}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</section>

<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{i}}" ng-class="{active: i === 0}" ng-repeat="i in range(champion.data.numberOfSkins)"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{active: i === 0}" ng-repeat="i in range(champion.data.numberOfSkins)">
                <img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampSkins/{{champion.data.key}}_{{i}}.jpg" width="80%">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

