<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="championTable.changeOrderTo('championId')">Id</th>
                <th ng-click="championTable.changeOrderTo('name')">Name</th>
                <th ng-click="championTable.changeOrderTo('attack')">Attack</th>
                <th ng-click="championTable.changeOrderTo('defense')">Defense</th>
                <th ng-click="championTable.changeOrderTo('difficulty')">Difficulty</th>
                <th ng-click="championTable.changeOrderTo('magic')">Magic</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-click="championTable.goToChampion(c.championId)" ng-repeat="c in championTable.tableData | orderBy:championTable.order:championTable.orderReverse">
                <td>{{c.championId}}</td>
                <td>{{c.name}}</td>
                <td>{{c.attack}}</td>
                <td>{{c.defense}}</td>
                <td>{{c.difficulty}}</td>
                <td>{{c.magic}}</td>
            </tr>
        </tbody>
    </table>
</div>
