    <div class="inner col-md-8 col-md-offset-2">
        <b class="h9">{{champion.data.name}}</b>
        <b class="h8">{{champion.data.title}}</b>
        <section class="features">
            <article class="col-md-4">
                <h3 class="major"><span class="icon fa-trophy"> Champion Stats</h3>
                    <p><img class="cardThumbnail" 
                    
                    src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/{{champion.data.image_file_name}}"></p>
                    <p>
                        <li><b>ID:  </b> {{champion.id}}</li>
                        <li><b>ATTACK:  </b> {{champion.data.attack}}</li>
                        <li><b>DEFENSE:  </b> {{champion.data.defense}}</li>
                        <li><b>DIFFICULTY:  </b> {{champion.data.difficulty}}</li>
                        <li><b>MAGIC:  </b> {{champion.data.magic}}</li>
                        <li><b>PAR TYPE:  </b> {{champion.data.partype}}</li>
                    </p>


            </article>

            <article class="col-md-4">
                <h3 class="major"><span class="icon fa-hourglass"> Lore</h3>
                    <p></p> <div ng-bind-html="champion.data.lore"></div></li>
                    <br></br>

            </article>

            <div class="container tableWrapper">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th ng-click="featuredGameTable.changeOrderTo('id')">ID</th>
                            <th ng-click="featuredGameTable.changeOrderTo('gameMode')">Game Mode</th>
                            <th ng-click="featuredGameTable.changeOrderTo('gameLength')">Game Length</th>
                            <th ng-click="featuredGameTable.changeOrderTo('gameType')">Game Type</th>
                            <th ng-click="featuredGameTable.changeOrderTo('mapId')">Map ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="champion.goToFeaturedGame(game.id)" ng-repeat="game in champion.featuredGames">
                            <td>{{game.id}}</td>
                            <td>{{game.gameMode}}</td>
                            <td>{{game.gameLength}}</td>
                            <td>{{game.gameType}}</td>
                            <td>{{game.mapId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="container tableWrapper">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th ng-click="summonerTable.changeOrderTo('id')">Id</th>
                            <th ng-click="summonerTable.changeOrderTo('name')">Name</th>
                            <th ng-click="summonerTable.changeOrderTo('bot')">Bot</th>
                            <th ng-click="summonerTable.changeOrderTo('summonerLevel')">Summoner Level</th>
                            <th ng-click="summonerTable.changeOrderTo('summoner_id')">Summoner ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="champion.goToSummoner(s.id)" ng-repeat="s in champion.summoners">
                            <td>{{s.id}}</td>
                            <td>{{s.name}}</td>
                            <td>{{s.bot}}</td>
                            <td>{{s.summonerLevel}}</td>
                            <td>{{s.summoner_id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul class="actions">
            <li><a href="/champions" class="special" class="button">more champions</a></li>
            </ul>
            <ul class="actions">
            <li><a href="/summoners" class="special" class="button">more summoners</a></li>
            </ul>
            <ul class="actions">
            <li><a href="/featuredGames" class="special" class="button">more featured games</a></li>
            </ul>

            <div class="col-lg-12">
                <h3 class="major"></h3>
            </div>

        </section>


        <b class="col-lg-12">
            <h3 class="h8"><span class="icon fa-lightbulb-o"> {{champion.data.name}}'s Spotlight</h3>
        </b>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card descriptionCard">
                        <div class="aspectRatio">
                            <iframe src="{{champion.data.youtube | trusted}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
