    <div class="inner col-md-8 col-md-offset-2">
        <b class="h9">{{champion.data.name}}</b>
        <section class="features">
            <article class="col-md-4">
                <h3 class="major"><span class="icon fa-trophy"> Champion Stats</h3>
                    <p><img class="cardThumbnail" 
                    src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/{{champion.data.key}}.png"></p>
                    <p>
                        <li><b>ID:  </b> {{champion.id}}</li>
                        <li><b>ATTACK:  </b> {{champion.data.attack}}</li>
                        <li><b>DEFENSE:  </b> {{champion.data.defense}}</li>
                        <li><b>DIFFICULTY:  </b> {{champion.data.difficulty}}</li>
                        <li><b>MAGIC:  </b> {{champion.data.magic}}</li>
                        <li><b>PAR TYPE:  </b> {{champion.data.partype}}</li>
                    </p>
            </article>

            <article class="col-md-4">
                <h3 class="major"><span class="icon fa-hourglass"> Lore</h3>
                    <p></p> {{champion.data.lore}}</li>

             </article>

            <ul class="actions">
            <li><a href="/champions" class="special" class="button">more champions</a></li>
            </ul>

            <div class="col-lg-12">
                <h3 class="major"></h3>
            </div>

        </section>



        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card descriptionCard">
                        <div class="aspectRatio">
                            <iframe src="{{champion.data.youtube | trusted}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
