 <!-- 001 -->
    <p></p>
        <section id="featuregame" class="col-md-8 col-md-offset-2">
        <div class="inner">
            <h2 class="major">Feature Game: No. {{featuredGame.data.id}}</h2>
            <section class="features">
                 <article class="col-lg-3">
                    <h3 class="major"><span class="icon fa-power-off"> Game Mode</h3>
                    <b class="h9">{{featuredGame.data.game_mode}} </b>
                </article>

                <article class="col-lg-3">
                    <h3 class="major"><span class="icon fa-gamepad"> Game Type</h3>
                    <h1> <b>TYPE: </b>{{featuredGame.data.game_type}} </h1><p></p>

                    <h3 class="major"><span class="icon fa-plug"> Game Specs</h3>
                    <li><b>&emsp;Length:</b> {{featuredGame.data.gameLength}}</li>
                    <li><b>&emsp;Map ID:</b> {{featuredGame.data.mapId}}</li>
                    <br>

                </article>

                <h1>Related Champions</h1>
                <hc-champion-table hc-data="featuredGame.data.champions"></hc-champion-table>
                <h1>Related Summoners</h1>
                <hc-summoner-table hc-data="featuredGame.data.summoners"></hc-summoner-table>

                <div class="col-lg-12">
                    
                <p class="col-lg-12">
                    <h3 class="major"><span class="icon fa-diamond"> h a r d c a r r y . m e </h3>
                 </p>

                </div>
            </section>
            
            <ul class="actions">
            <li><a href="/featuredGames" class="special" class="button">more featured games</a></li>
            </ul>
        </div>
        <champion-table tableData="featuredGame.champions"></champion-table>
    </section>

<!-- 002 -->
<!--
    <div class="container">
        <div class="row">
            <div class="">
                <div class="card descriptionCard">
                    <div class="aspectRatio">
                    <h2>Featured Champions</h2>
                    <br></br>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Leona_8.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Aatrox_2.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547103/Elise_0.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547099/Ashe_5.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547533/Riven_2_yic5wf.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547534/Lulu_0_bpb9ip.jpg" class="img-responsive"></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>


