<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://vignette1.wikia.nocookie.net/leagueoflegends/images/6/60/Lich_Bane_item.png/revision/latest?cb=20130319090609">
                <h1 class="cardName">Lich Bane</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>description:</b> <stats>+80 Ability Power<br>+5% Movement Speed<br><mana>+250 Mana</mana></stats><br><br><unique>UNIQUE Passive - Spellblade:</unique> After using an ability, the next basic attack deals 75% Base Attack Damage (+50% of Ability Power) bonus magic damage on hit (1.5 second cooldown).<br><br><i>(Unique Passives with the same name don't stack.)</i>"</li>
                    <li><b>base price:</b> 950</li>
                    <li><b>sell price:</b> 2100</li>
                    <li><b>buy price:</b> 3000</li>
                    <li><b>item id:</b> 3100</li>
                    <li><b>purchaseable:</b> true</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Five -->
    <section id="five" class="wrapper spotlight style2">
        <div class="inner">
            <section id="work"></section>
            <div class="container">
                <div class="row centered mt mb">
                    <h2>Featured Champions</h2>
                    <br></br>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Leona_8.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Aatrox_2.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547103/Elise_0.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547099/Ashe_5.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547533/Riven_2_yic5wf.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547534/Lulu_0_bpb9ip.jpg" class="img-responsive"></p>
                    </div>
                </div><!--/row -->
            </div><!--/container -->
        </div>
    </section>