<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="featuredGameTable.changeOrderTo('id')">ID</th>
                <th ng-click="featuredGameTable.changeOrderTo('gameMode')">Game Mode</th>
                <th ng-click="featuredGameTable.changeOrderTo('gameLength')">Game Length</th>
                <th ng-click="featuredGameTable.changeOrderTo('gameType')">Game Type</th>
                <th ng-click="featuredGameTable.changeOrderTo('mapId')">Map ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in featuredGameTable.tableData | orderBy:featuredGameTable.order:featuredGameTable.orderReverse">
                <td><a href="/featuredGames/{{game.id}}">{{game.id}}</a></td>
                <td>{{game.gameMode}}</td>
                <td>{{game.gameLength}}</td>
                <td>{{game.gameType}}</td>
                <td>{{game.mapId}}</td>
            </tr>
        </tbody>
    </table>
</div>    
