<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-diamond"></span></div>
        <h2>HardCarry.me</h2>
        <p>Champions, Summoners, and Featured Games</p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">
    <section id="zero" class="wrapper alt style4">
        <div class="inner">
            <h2 class="major">What is League of Legends?</h2>
            <p>League of Legends is a fast-paced, competitive online game that blends the speed and intensity of an RTS with RPG elements. Two teams of powerful champions, each with a unique design and playstyle, battle head-to-head across multiple battlefields and game modes. With an ever-expanding roster of champions, frequent updates and a thriving tournament scene, League of Legends offers endless replayability for players of every skill level.</p>
        </div>
    </section>
    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a class="image"><img src="/static/images/home/h01.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Champions</h2>
                <p>League of Legends features an ever-expanding roster of champions, each with a unique design and playstyle. Here you can browse the current lineup and find out more about characters that interest you.</p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <a class="image"><img src="/static/images/home/h02.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Summoners</h2>
                <p>Summoner, a gifted spell caster who has the power to bring forth a champion to fight as their avatar in the Fields of Justice. With all major political decisions on Valoran now decided by the outcome of the contests that take place in the battle arenas, a summoner is the key force of change on the continent.</p>
                <p>As a summoner you employ a number of tools to aid your champion on the battlefield. Runes, masteries and summoner spells enable you to customize your champion to suit your individual playstyle. </p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
        <div class="inner">
            <a class="image"><img src="/static/images/home/h03.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Featured Games</h2>
                <p>League of Legends enables players to observe games in progress in Spectator Mode. Spectator Mode is different from a normal player’s perspective in a number of ways. For starters, a spectating player has no champion to command or team affiliation. Instead, he is able to jump to the perspective of either team, following the action as they see it. A spectator can even opt to remove the fog of war altogether for a truly global view of the battlefield. Additionally the spectator will be able to quickly and easily reference information on either team such as in-game stats, item builds, gold totals, and ability cooldowns. Spectator mode can be an excellent tool for those players interested in learning more of the nuances of League of Legends gameplay, or for shoutcasters interested in commentating on competitive play.</p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Social and Professional</h2>
            <section class="features">
                <article>
                    <h3 class="major"><span class="icon fa-twitter"> LeagueOfLegends</h3>
                    <a class="twitter-timeline" href="https://twitter.com/LeagueOfLegends" data-widget-id="661781769943781377">Tweets by @LeagueOfLegends</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        <p></p>
                    <!-- <a href="#" class="special">Learn more</a> -->
                </article>
                <article>
                    <h3 class="major"><span class="icon fa-twitter"> sktelecom_t1</h3>
                    <a class="twitter-timeline" href="https://twitter.com/sktelecom_t1" data-widget-id="661783750422851585">Tweets by @sktelecom_t1</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        <p></p>
                    <!-- <a href="#" class="special">Learn more</a> -->
                </article>


                <div class="col-lg-12">
                    <h3 class="major">League of Legends Esports</h3>

                    <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
                    src="http://worlds.lolesports.com/en_US/worlds/schedule/default"
                    style="border: 0"></iframe>

                </div>
            </section>

            <ul class="actions">
                <li><a href="http://www.lolking.net/" class="special" target=”_blank” class="button">More Games</a></li>
            </ul>
        </div>
    </section>

</section>


    <!-- Five -->
    <section id="five" class="wrapper spotlight style2">
        <div class="inner">
            <section id="work"></section>
            <div class="container">
                <div class="row centered mt mb">
                    <h2>Featured Champions</h2>
                    <br></br>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Leona_8.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Aatrox_2.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547103/Elise_0.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547099/Ashe_5.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547533/Riven_2_yic5wf.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547534/Lulu_0_bpb9ip.jpg" class="img-responsive"></p>
                    </div>
                </div><!--/row -->
            </div><!--/container -->
        </div>
    </section>