<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-diamond"></span></div>
        <h2>HardCarry.me</h2>
        <p>Champions, Summoners, and Featured Games</p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#" class="image"><img src="/static/images/home/h01.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Champions</h2>
                <p>League of Legends features an ever-expanding roster of champions, each with a unique design and playstyle. Here you can browse the current lineup and find out more about characters that interest you.</p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <a href="#" class="image"><img src="/static/images/home/h02.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Summoners</h2>
                <p>As a summoner you employ a number of tools to aid your champion on the battlefield. Runes, masteries and summoner spells enable you to customize your champion to suit your individual playstyle. </p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
        <div class="inner">
            <a href="#" class="image"><img src="/static/images/home/h03.jpg" alt="" /></a>
            <div class="content">
                <h2 class="major">Featured Games</h2>
                <p>Live League of Legends games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Pnds games worldwide. Play smarter. Play harder.</p>
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Vitae phasellus</h2>
            <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
            <section class="features">
                <article>
                    <a class="twitter-timeline" href="https://twitter.com/LeagueOfLegends" data-widget-id="661781769943781377">Tweets by @LeagueOfLegends</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    <h3 class="major">Sed feugiat lorem</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a class="twitter-timeline" href="https://twitter.com/sktelecom_t1" data-widget-id="661783750422851585">Tweets by @sktelecom_t1</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    <h3 class="major">Nisl placerat</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                    <h3 class="major">Ante fermentum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                    <h3 class="major">Fusce consequat</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
            </section>
            <ul class="actions">
                <li><a href="#" class="button">Browse All</a></li>
            </ul>
        </div>
    </section>

</section>


<section id="work"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1>Featured Champions</h1>
        <br></br>
        
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Leona_8.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Aatrox_2.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547103/Elise_0.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547099/Ashe_5.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547533/Riven_2_yic5wf.jpg" class="img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547534/Lulu_0_bpb9ip.jpg" class="img-responsive"></a>
        </div>
    </div><!--/row -->
</div><!--/container -->