<div class="container">
    <br>
    <h1>Nobel Prize Map using API from nobelprize.me</h1>
    <div id="display">
    <div id="world-map" style="width: 80%; height: 400px"></div>
	</div>
	<br>
	<div id="controls" style="width: 80%">
	Years: <span id="lower-value">1901</span> to <span id="upper-value">2015</span>
	<br>
	<div id="slider" style="width: 60%; display:inline-block"></div>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<select id="category" style="width: 20%; display:inline-block">
		<option selected value="all">All Categories</option>
		<option value="chemistry">Chemistry</option>
		<option value="physics">Physics</option>
		<option value="peace">Peace</option>
		<option value="medicine">Medicine</option>
		<option value="literature">Literature</option>
		<option value="economics">Economics</option>
	</select>
	&nbsp;
	<img id="refresh" src="refresh.png" style="width:32px; height:32px; cursor:pointer">
	</div>

	<script>

	$(document).ready(function(){
		drawMap();
		$('#refresh').mouseup(function(){
			console.log('mouseup');
			drawMap();
		});
	});
	
	var slider = document.getElementById('slider'),
	  lowerValue = document.getElementById('lower-value'),
	  upperValue = document.getElementById('upper-value');  

	noUiSlider.create(slider, {
	start: [1901, 2015],
	step: 1,
	behavior: 'drag-tap',
	connect: true,
	range: {
	  'min': 1901,
	  'max': 2015
	}
	});

	slider.noUiSlider.on('update', function ( values, handle ) {
	if ( !handle ) {
	  lowerValue.innerHTML = parseInt(values[handle]);
	} else {
	  upperValue.innerHTML = parseInt(values[handle]);
	}
	});

	function drawMap() {
	$('#world-map').remove();
	$('#display').append('<div id="world-map" style="width: 80%; height: 400px"></div>');
	var requestURL = 'http://104.130.226.110:5000/api/prize?q={%22filters%22:[{%22name%22:%22year%22,%22op%22:%22>=%22,%22val%22:'
	        + lowerValue.innerHTML + '},{%22name%22:%22year%22,%22op%22:%22<=%22,%22val%22:' + upperValue.innerHTML + '}';

	var categoryElem = document.getElementById("category");
	var selectedCategory = categoryElem.options[categoryElem.selectedIndex].value;
	if (selectedCategory !== 'all') {
	  requestURL += ',{"name":"category","op":"==","val":"' + selectedCategory + '"}';
	}
	requestURL += ']}';
	console.log(requestURL);
	$.ajax({
	  url: requestURL, 
	  type: 'GET',
	  crossDomain: true,
	  dataType: 'jsonp',
	  success: function( results ) {

	  console.log(results.data);

	    var prizeGeoData = [];

	    console.log(results.data.objects); 

	    $.each(results.data.objects, function(key, val) {
	      $.each(val.laureates, function(key, val) {
	        if (val.country_id in prizeGeoData) {
	          prizeGeoData[val.country_id] += 1;
	        } else {
	          prizeGeoData[val.country_id] = 1;
	        }
	      });
	    });

	    console.log(prizeGeoData)

	    $('#world-map').vectorMap({
	      map: 'world_mill_en',
	      series: {
	        regions: [{
	          values: prizeGeoData,
	          scale: ['#C8EEFF', '#0071A4'],
	          normalizeFunction: 'polynomial'
	        }]
	      },
	      onRegionTipShow: function(e, el, code){
	        if (!(code in prizeGeoData)) {
	          prizeGeoData[code] = 0;
	        }
	        el.html(el.html()+' (# Prize Winners - '+prizeGeoData[code]+')');
	      }
	    });

	  }
	});
	}
	</script>

</div>