<div class="container mapcontainer">
    <br>
    <h1>Nobel Prize Map using API from nobelprize.me</h1>
    <stuff>
	    <div id="display">
	    	<div worldmap id="world-map" style="width: 100%; height: 480px"></div>
		</div>
		<br>
		<div id="controls" style="width: 100%">
			Years: <span id="lower-value">1901</span> to <span id="upper-value">2015</span>
				<br>
			<div id="slider" class="col-xs-8"></div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select id="category" style="width: 20%; display:inline-block">
				<option selected value="all">All Categories</option>
				<option value="chemistry">Chemistry</option>
				<option value="physics">Physics</option>
				<option value="peace">Peace</option>
				<option value="medicine">Medicine</option>
				<option value="literature">Literature</option>
				<option value="economics">Economics</option>
			</select>
			&nbsp;
			<img id="refresh" src="/static/images/newrefresh.png" style="width:64px; height:64px; top:32px; display:inline-block; cursor:pointer">
		</div>
	</stuff>

</div>