
    <!-- Four -->
    <section id="four" class="wrapper alt style6">
        <div class="inner">
            <h2 class="major">SUMMONER NAME HERE</h2>
            <section class="features">
                <article class="col-lg-3">
                    <h3 class="major"><span class="icon fa-power-off"> LeagueOfLegends</h3>
                    <p class="h9"><img src=""></p>
                </article>
                <article class="col-lg-3">
                    <h3 class="major"><span class="icon fa-line-chart"> STATS</h3>
                    <b class="h9"> LVL: </b><br>
                    <b class="h9"> BOT: </b>

                 </article>


                <div class="col-lg-12">
                    <h3 class="major"><span class="icon fa-quote-left"> Are you sure you can handle me, Summoner? <span class="icon fa-quote-right"></h3>

                </div>
            </section>

            <ul class="actions">
                <li><a href="/summoners" class="special" class="button">more summoners</a></li>
            </ul>
        </div>
    </section>

</section>


    <!-- Five -->
    <section id="five" class="wrapper spotlight style2">
        <div class="inner">
            <section id="work"></section>
            <div class="container">
                <div class="row centered mt mb">
                    <h2>Featured Champions</h2>
                    <br></br>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Leona_8.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Aatrox_2.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547103/Elise_0.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547099/Ashe_5.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547533/Riven_2_yic5wf.jpg" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547534/Lulu_0_bpb9ip.jpg" class="img-responsive"></p>
                    </div>
                </div><!--/row -->
            </div><!--/container -->
        </div>
    </section>

<!-- <div class="container">
    <div class="row">
        <div class=".col-md-3 col-md-offset-1">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/bb/Tempest.png/revision/latest?cb=20130929123014&format=webp">
                <h1 class="cardName">Tempest/Cripple</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>description:</b> Lee Sin smashes the ground, sending out a shockwave that deals magic damage and reveals enemy units hit. If Tempest hits an enemy, Lee Sin can cast cripple for the next 3 seconds.<br>Cripple: Lee Sin cripples nearby enemies revealed by Tempest, reducing their Movement Speed for 4 seconds. Movement Speed recovers gradually over the duration.</li>
                    <li><b>cooldown burn:</b> 10 </li>
                    <li><b>cost burn:</b> 50 </li>
                    <li><b>cost type:</b> Energy</li>
                    <li><b>max rank:</b> 18</li>
                    <li><b>range burn:</b> 425 </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->