
    <section id="summoner" class="col-md-8 col-md-offset-2">
            <b class="major h9">{{summoner.data.name}}</b>
            <section class="features">

                <article class="col-lg-3">
                    <h3 class="major"><span class="icon fa-male"> Summoner</h3>
                        <br><img class="cardThumbnail" src="http://res.cloudinary.com/dx4at2j5f/image/upload/SummonerIcons/{{summoner.data.profileIconId}}.png">
                </article>

                <article class="col-lg-3">
                    <h3 class="major"><span class="icon fa-line-chart"> STATS</h3>
                    <b class="h9"> LVL: {{summoner.data.summonerLevel}} </b><br>
                    <br><b>ID:</b> {{summoner.data.id}}
                    <br><b>BOT:</b> {{summoner.data.bot}}
                    <br><b>SUMMONER ID:</b> {{summoner.data.summoner_id}}</li>
                    <p>
                 </article>

                <div class="container tableWrapper">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th ng-click="championTable.changeOrderTo('championId')">Id</th>
                                <th ng-click="championTable.changeOrderTo('name')">Name</th>
                                <th ng-click="championTable.changeOrderTo('attack')">Attack</th>
                                <th ng-click="championTable.changeOrderTo('defense')">Defense</th>
                                <th ng-click="championTable.changeOrderTo('difficulty')">Difficulty</th>
                                <th ng-click="championTable.changeOrderTo('magic')">Magic</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="summoner.goToChampion(c.championId)" ng-repeat="c in summoner.champions">
                                <td>{{c.championId}}</td>
                                <td>{{c.name}}</td>
                                <td>{{c.attack}}</td>
                                <td>{{c.defense}}</td>
                                <td>{{c.difficulty}}</td>
                                <td>{{c.magic}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container tableWrapper">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th ng-click="featuredGameTable.changeOrderTo('id')">ID</th>
                                <th ng-click="featuredGameTable.changeOrderTo('gameMode')">Game Mode</th>
                                <th ng-click="featuredGameTable.changeOrderTo('gameLength')">Game Length</th>
                                <th ng-click="featuredGameTable.changeOrderTo('gameType')">Game Type</th>
                                <th ng-click="featuredGameTable.changeOrderTo('mapId')">Map ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="summoner.goToFeaturedGame(game.id)" ng-repeat="game in summoner.featuredGames">
                                <td>{{game.id}}</td>
                                <td>{{game.gameMode}}</td>
                                <td>{{game.gameLength}}</td>
                                <td>{{game.gameType}}</td>
                                <td>{{game.mapId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>    


                <div class="col-lg-12">
                    <h3 class="major"></h3>
                </div>

            </section>

            <ul class="actions">
                <li><a href="/summoners" class="special" class="button">more summoners</a></li>
            </ul>
        </div>
    </section>

    <!-- champions -->
    <section id="champ" class="inner col-md-8">
        <div class="inner">
            <section id="work"></section>
            <div class="container">
                <div class="row centered mt mb">
                    <h2>Champions {{summoner.data.name}} used recently</h2>
                    <br></br>
                    
                    <div class="col-lg-2 col-md-2 col-sm-2 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/Leona" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/Leona" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/Leona" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/Leona" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/Leona" class="img-responsive"></p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 gallery">
                        <p href="work.html"><img src="http://res.cloudinary.com/dx4at2j5f/image/upload/ChampIcons/Leona" class="img-responsive"></p>
                    </div>
                </div><!--/row -->
            </div><!--/container -->
        </div>
    </section>