<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/bb/Tempest.png/revision/latest?cb=20130929123014&format=webp">
                <h1 class="cardName">{{summoner.data.name}}</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>ID:</b> {{summoner.data.id}}</li>
                    <li><b>Bot:</b> {{summoner.data.bot}}</li>
                    <li><b>Summoner Level:</b> {{summoner.data.summonerLevel}}</li>
                    <li><b>Summoner ID:</b> {{summoner.data.summoner_id}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>