<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="summoner.changeOrderTo('id')">Id</th>
                <th ng-click="summoner.changeOrderTo('name')">Name</th>
                <th ng-click="summoner.changeOrderTo('champion')">Champion</th>
                <th ng-click="summoner.changeOrderTo('costBurn')">Cost Burn</th>
                <th ng-click="summoner.changeOrderTo('costType')">Cost Type</th>
                <th ng-click="summoner.changeOrderTo('maxRank')">Max Rank</th>
                <th ng-click="summoner.changeOrderTo('rangeBurn')">Range Burn</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in summoner.tableData | orderBy:summoner.order:summoner.orderReverse">
                <td>{{s.id}}</td>
                <td><a href="/summoners/{{s.id}}">{{s.name}}</a></td>
                <td>{{s.champion}}</td>
                <td>{{s.costBurn}}</td>
                <td>{{s.costType}}</td>
                <td>{{s.maxRank}}</td>
                <td>{{s.rangeBurn}}</td>
            </tr>
        </tbody>
    </table>
</div>
