<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://res.cloudinary.com/dx4at2j5f/image/upload/v1445511850/RenektonCull.png">
                <h1 class="cardName">Cull of the Meek</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>Renekton swings his blade, dealing moderate physical damage to all targets around him, and heals for a small portion of the damage dealt. If he has more than 50 Fury, his damage and heal are increased.</li>
                    <li><b>cost type:</b> NoCostor50Fury</li>
                    <li><b>max rank:</b> 5</li>
                </ul>
            </div>
        </div>
    </div>
</div>
