<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://vignette3.wikia.nocookie.net/leagueoflegends/images/b/bb/Tempest.png/revision/latest?cb=20130929123014&format=webp">
                <h1 class="cardName">Tempest</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>description:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li><b>cost type:</b> Mana</li>
                    <li><b>max rank:</b> 18</li>
                </ul>
            </div>
        </div>
    </div>
</div>
