<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="ability.order = 'id'">Id</th>
                <th ng-click="ability.order = 'name'">Name</th>
                <th ng-click="ability.order = 'champion'">Champion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in ability.tableData | orderBy: ability.order">
                <td>{{a.id}}</td>
                <td><a href="/abilities/{{a.id}}">{{a.name}}</a></td>
                <td>{{a.champion}}</td>
            </tr>
        </tbody>
    </table>
</div>