<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="ability.changeOrderTo('id')">Id</th>
                <th ng-click="ability.changeOrderTo('name')">Name</th>
                <th ng-click="ability.changeOrderTo('champion')">Champion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in ability.tableData | orderBy:ability.order:ability.orderReverse">
                <td>{{a.id}}</td>
                <td><a href="/abilities/{{a.id}}">{{a.name}}</a></td>
                <td>{{a.champion}}</td>
            </tr>
        </tbody>
    </table>
</div>

    

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">

        <!-- TEMPORARY PLACE HOLDER -->
        <div style="height: 40px;">
        </div>
        <h1>...</h1>
        
    </div><!--/row -->
</div><!--/container -->
