<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://res.cloudinary.com/dx4at2j5f/image/upload/v1445511745/BlindingDart.png">
                <h1 class="cardName">Blinding Dart</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>description:</b> Obscures an enemy's vision with a powerful venom, dealing damage to the target unit and blinding it for the duration. </li>
                    <li><b>cost type:</b> Mana </li>
                    <li><b>max rank:</b> 5 </li>
                </ul>
            </div>
        </div>
    </div>
</div>
