<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://vignette2.wikia.nocookie.net/leagueoflegends/images/2/2e/LeeSinSquare_old.png/revision/latest?cb=20140930195458">
                <h1 class="cardName">Renekton</h1>
                <h4 class="cardName">The Butcher of the Sands</h4>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>attack:</b> 8 </li>
                    <li><b>defense:</b> 5 </li>
                    <li><b>difficulty:</b> 3 </li>
                    <li><b>magic:</b> 2 </li>
                    <li><b>par type:</b> Rage</li>
                    <li><b>blurb:</b> "Renekton was once a staunch gatekeeper of ancient Shurima, but in the centuries since the fall of that once-glorious empire, he has been consumed by madness. Now, he is little more than a rage-fueled beast who seeks to kill his brother Nasus, who he ..."</li>
                    <li><b>lore:</b> Renekton was once a staunch gatekeeper of ancient Shurima, but in the centuries since the fall of that once-glorious empire, he has been consumed by madness. Now, he is little more than a rage-fueled beast who seeks to kill his brother Nasus, who he believes is to blame for his current state of mind.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
