<!-- Splash -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>HardCarry.me</h1>
                <h4>Champions, Abilities & Items</h4>
            </div>
        </div>
    </div>
</div>



<section id="home"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1>Featured Champions</h1>
		
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="home.html"><img src="cs373-tbsa/idb/static/images/champion-splash/Aatrox_2.jpg" class="img-responsive"></a>
		</div>
	</div><! --/row -->
</div><! --/container -->