<!-- Splash -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>HardCarry.me</h1>
                <h4>Champions, Abilities & Items</h4>
            </div>
        </div>
    </div>
</div>





<section id="home"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1>Featured Champions</h1>
		
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Leona_8.jpg" class="img-responsive"></a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547104/Aatrox_2.jpg" class="img-responsive"></a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547103/Elise_0.jpg" class="img-responsive"></a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547099/Ashe_5.jpg" class="img-responsive"></a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547533/Riven_2_yic5wf.jpg" class="img-responsive"></a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="work.html"><img src="http://res.cloudinary.com/dt00l9fzb/image/upload/v1445547534/Lulu_0_bpb9ip.jpg" class="img-responsive"></a>
		</div>
	</div><! --/row -->
</div><! --/container -->