<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="item.order = 'id'">Id</th>
                <th ng-click="item.order = 'name'">Name</th>
                <th ng-click="item.order = 'cost'">Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in item.tableData | orderBy: item.order">
                <td>{{i.id}}</td>
                <td><a href="/items/{{i.id}}">{{i.name}}</a></td>
                <td>{{i.cost}}</td>
            </tr>
        </tbody>
    </table>
</div>


    

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">

        <!-- TEMPORARY PLACE HOLDER -->
        <div style="height: 40px;">
        </div>
        <h1>...</h1>
        
    </div><!--/row -->
</div><!--/container -->
