<div class="container tableWrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/items/1">Lich Bane</a></td>
                <td>3000</td>
            </tr>
            <tr>
                <td>The Bloodthirster</td>
                <td>3500</td>
            </tr>
            <tr>
                <td>Frozen Heart</td>
                <td>2450</td>
            </tr>
        </tbody>
    </table>
</div>