<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card nameCard">
                <img class="cardThumbnail" src="http://res.cloudinary.com/dx4at2j5f/image/upload/v1445512083/bloodthirster.png">
                <h1 class="cardName">The Bloodthirster</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card descriptionCard">
                <ul>
                    <li><b>description:</b><stats>+80 Attack Damage</stats><br><br><passive>UNIQUE Passive:</passive> +20% Life Steal<br><passive>UNIQUE Passive:</passive> Your basic attacks can now overheal you. Excess life is stored as a shield that can block 50-350 damage, based on champion level.<br><br>This shield decays slowly if you haven't dealt or taken damage in the last 25 seconds.</li>
                    <li><b>sell price: 2450</b></li>
                    <li><b>buy price: 3500</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
